

#app:
#  datasource:
#    jdbc-url: jdbc:postgresql://172.30.247.88:5432/postgres
#    username: postgres
#    password: mypass
#    pool-size: 30




app:
  datasource:
    jdbc-url: jdbc:postgresql://${DB_URL}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    pool-size: 30

# DB_URL ==> the name of the db svc (oc get svc), Will be saved in configmap 
  #Note! ==> not the exposed URL ! postgres doesn't have web api
# DB_PORT ==> "5432", Will be saved in configmap
# DB_NAME ==> "demodb" , Will be saved in configmap

# DB_USERNAME ==> "postgres" , Will be saved in Secret
# DB_PASSWORD ==> "mypass" , Will be saved in Secret